.NumberItem {
  display: flex;
}

.NumberItem h1 {
  width: 10px;
}

.NumberItem button {
  border: none;
  background: none;
  width: 100px;
  font-size: 2rem;
  color: tomato;
}

.NumberItem button:focus {
  outline: none;
}